
/**
 * Import Bootstrap
**/

@import (less) url('~bootstrap/dist/css/bootstrap.css');

/**
 * Custom Styling
**/

#feed, #settings {
    margin-top: 5em;
}

#notifications {
    z-index: 1100;
}

.navbar-brand small {
    font-size: 12px;
    color: white;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width:768px) {
    .navbar-brand small {
        display: none;
    }
}

.post {
    margin-top: 20px;
    margin-bottom: 24px;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 20px 0 0;
    box-sizing: border-box;
}

.post-attachment {
    max-height: 30em;
}

.text-nowrap{
    margin-left: 10px;
}

.left {
    float: left!important;
}

.btn-header {
    padding: 0 0.5em;
}

.btn-header .nav-link {
    padding: 0 !important;
}

.btn-login a {
    color: rgba(255, 255, 255, 0.5);
}

.btn-register {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-register a {
    color: #fff;
}

.btn-register:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-register:active {
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-post {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-post a {
    color: #fff;
}

.btn-post:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-post:active {
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-vote:last-child {
    margin-left: 1em;
}
