
/**
 * Styling for Table Component
**/

.sxtable {
    .table {
        table-layout: fixed;
        .headerRow {
            .headerColumn {
                .headerCell {
                    float: left;
                    width: 100%;
                    cursor: pointer;
                }                
            }
        }
        .bodyRow {
            .bodyColumn {
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .filter {
        margin-bottom: 35px;

        .filter-field {
            .col-form-label-sm, .form-control-sm {
                font-size: 0.775rem !important;
            }
        }
        .filter-fieldset {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            .filter-fieldset-legend {
                font-size: 1.2em !important;
                font-weight: bold !important;
                text-align: left !important;
                width:auto;
                padding:0 10px;
                border-bottom:none;
            }
        }
    }

    .pagination {
        width: 100%;
        box-sizing: border-box;
        .pagination-nav {
            @paginationNavArrowSize: 3.5px;

            width: 0; height: 0;
            border: solid black;
            border-width: 0 @paginationNavArrowSize @paginationNavArrowSize 0;
            display: inline-block;
            padding: @paginationNavArrowSize;
            margin: 0px 15px;

            cursor: pointer;

            &.hidden {
                border: 0;
            }

            &.prev {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                float: left;
            }
            &.next {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                float: right;
            }
        }
        .pagination-pages {
            display: table;
            margin: 0 auto;

            .pagination-pages-list {
                list-style: none;
            }
            .pagination-pages-list-page {
                cursor: pointer;
                display: inline;
                margin-right: 4px;
                font-size: 14px;
            }
            .pagination-pages-list-page:last-child {
                margin-right: 0px;
            }
            .current {
                font-weight: bold;
            }
        }
    }
}


